h1 {color: cadetblue; text-align: center; background-color: hsla(9,100%,60%,0.3)}
.num1 {font-size: 30px; font-family: verdana; background-color: rgba(51, 133, 51, 0.8) }
.num2 {font-size: 50px; font-family: verdana;background-color: rgba(62, 112, 124, 0.5)}
.p  {font-size: 15px; font-family: verdana;background-color: rgba(175, 81, 199, 0.31)}