
 body {
  font:14px/1.8 Arial, Helvetica, sans-serif;
  width: 1000px;

}
*{box-sizing: border-box;}
.frame::after {clear: both; display: table;

 /* width: auto;
  margin: 0 auto;
 /* border: 1px solid #aaa;*/
}
.header{
padding:40px 10px;
text-align: center;

margin-bottom: 20px;
}
.logo {
font-size: 2em;
font-weight: bold;
background: green;
color: #fff;
display: inline-block;
padding: 0 8px;
}
 .container{
     overflow: hidden; 
   }

   .container .nav{
  float: left;
  width: 25%;
  
  color: #fff;
  padding-bottom: 5px;
  margin-right: 50px;
}
.nav-list {
  
  list-style: none;
  margin: 5px;
  padding: 10px 0;
}
.nav-item {
  margin: 4px 0; 
  background: lightgray;
}
.nav-link {
  display: block;
  text-decoration: none;
  padding: 4px 10px;
  color: #fff;
}
.nav-link:hover {
  background: green;
}

.container .content {
width: 50%;
}

.footer{
text-align: center;
border-top: 1px solid #aaa;
margin: 20px 20px 0;
font-size: 12px;
}

.container .side-r {background-color: lightskyblue; width: 200px;}

table{border-collapse: collapse; }
tr:nth-child(even) {background-color: #f2f2f2;}
th {background-color: #4CAF50; color: white;}
tr:hover {background-color: yellowgreen}